<p> 
  <strong>Title</strong>
  <%= @images.title %>
</p>

<% (0... @album.images.count).each do |image| %>
  <%= image_tag(@album.images[image]) %>
<% end %>

<p>
  <strong>Body:</strong>
  <%= @images.body %>
</p>

