<div class="container" style="padding-top: 200px;height:100%;float:left;padding-left: 50px;">
	<div class="desc" style="padding-left:50px;padding-right:75px;width:65%;float:left">
		<div class="sidenav">
			<h2 class="display-4">info</h2>
		</div>
		<br>
		<br>
		<div class="container">
			<p style="text-align: justify">
				According to all known laws
of aviation,

  
there is no way a bee
should be able to fly.

  
Its wings are too small to get
its fat little body off the ground.

  
The bee, of course, flies anyway

  
because bees don't care
what humans think is impossible.

  
Yellow, black. Yellow, black.
Yellow, black. Yellow, black.

  
Ooh, black and yellow!
Let's shake it up a little.

  
Barry! Breakfast is ready!

  
Ooming!

  
Hang on a second.

			</p>
		</div>
	</div>
	<div class="thumbnail" style="width:15%;float:left;padding-top: 40px">
		<%= image_tag("pics/zoidberg.png") %>
	</div>
</div>