<div class="navbar" style="width:10%;height:100%;float:left;"> 
  <h2 style="color:grey"> Website_Name </h2>
  <ul class="nav flex-column" style="padding-top: 150px">

    <li class="nav-item">
      <a class="nav-link active" style="color: black;font-family: sans-serif;"href="<%= info_index_path %>">info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black;font-family: sans-serif;"href="<%= albums_path %>">images</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black;font-family: sans-serif;"href="">forests</a>
    </li>
  </ul>
</div>