<div class="navbar" style="width:25%;height:100%;float:left;padding-top: 100px"> 
  <h2 style="color:grey"> ForestsandShit </h2>
  <ul class="nav flex-column" style="padding-top: 150px">

    <li class="nav-item">
      <a class="nav-link active" href="<%= root_path %>">info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= albums_path %>">images</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= images_path %>">forests</a>
    </li>
  </ul>
</div>